/out
bin/
build/
/.vs
/.vscode
.idea/
CMakeSettings.json
*.obj
*.png
*.jpg
*.mtl
!resources/objects/water/water.obj
!resources/skybox/varian1/*.png
!resources/skybox/varian2/*.png
!resources/skybox/varian3/*.png