/out
bin/
build/
/.vs
/.vscode
.idea/
CMakeSettings.json
!resources/objects/water/water.obj
!/resources/skybox/nx.png
!/resources/skybox/ny.png
!/resources/skybox/nz.png
!/resources/skybox/px.png
!/resources/skybox/py.png
!/resources/skybox/pz.png
